.color-gray {
  background: #e9e9e9;
}
.imgs-wrap {
  img{
   height: 5rem;
   width: 7.5rem;   
  }
 //height: 5rem;
}
.index-detail {
  background: #fff;
  border: 1px solid transparent;
  .intro {
    margin: .2rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: .4rem;
    line-height: .5rem;
    border-bottom: 1px solid #ddd;
    h1 {
      font-size: .35rem;
      font-weight: normal;
    }
    .type {
      margin-top: .1rem;
      margin-bottom: .1rem;
      display: inline-block;
      line-height: .4rem;
      height: .4rem;
      color: #f60;
      border: 1px solid #f60;
      font-size: .01rem;
      padding: 0 .09rem;
      border-radius: .05rem;
      & + .type {
        margin-left: .25rem;
      }
    }
  }
  .iconfont {
    display: inline-block;
    text-align: left;
    .icon-xingbiexuanzhong {
      margin-left: .6rem;
    }
    .icon-xingbiexuanzhong {
      color: #f60;
    }
    .icon-xingbiexuanzhong:last-child {
      color: #999;
    }
  }
  .princple {
    font-size: .3rem;
    line-height: .6rem; 
    border-bottom: 1px solid #ddd;
    padding: .2rem 0;
    margin: 0  .2rem;
    position: relative;
    &:after {
      position: absolute;
      content: "";
      display: block;
      float: right;
      width: .2rem;
      height: .2rem;
      top: .35rem;
      right: .2rem;
      border: 1px solid #ddd;
      transform: rotate(45deg);
      border-color: #ddd #ddd transparent transparent;
    }
  }
}
.floor-detail {
  background: #fff;
  margin-top: .2rem;
  padding: .2rem;
  .title {
    line-height: .8rem;
    font-size: .3rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  .call {
    font-size: .3rem;
    line-height: .6rem; 
    border-bottom: 1px solid #ddd;
    padding: .2rem 0;
    .icon-dianhua { 
      float: right;
      font-size: .35rem;
      color: #96a9d9;
    }
  }
}
.box {
  padding: .2rem;
  font-size: .3rem;
  background: #fff;
  .box-title {
    font-weight: normal;
    line-height: .5rem;
    color: #333;
  }
  .content {
    color: #555;
    font-size: .28rem;
    line-height: .6rem;
  }
}